<div class="container">
  <div class="card">
    <h1 class="header">Dodavanje novih entiteta</h1>
    <h1> Izaberite entitet za dodati</h1>
  </div>
  <section>
    <div class="example-button-row">
      <button mat-raised-button (click)="dodajGrad()">Dodaj grad</button>
      <button mat-raised-button (click)="dodajKomentar()">Dodaj komentar</button>
      <button mat-raised-button (click)="dodajDrzavu()">Dodaj drzavu</button>
      <button mat-raised-button (click)="dodajObjekat()">Dodaj objekat</button>
      <button mat-raised-button (click)="dodajObjavu()">Dodaj objavu</button>
      <button mat-raised-button (click)="dodajTipObjekta()">DodajTipObjekta</button>
    </div>
  </section>

</div>