<h1>Dodaj drzavu</h1>>

    <form class="example-form" [formGroup]="formControl">
        <mat-form-field class="example-full-width" >
          <mat-label>Naziv drzave</mat-label>
          <input matInput placeholder="naziv-drzave" formControlName="naziv">
        </mat-form-field>

        <mat-form-field >
        <mat-label>Odaberi grad</mat-label>
                <mat-select formControlName="gradovi" multiple>
                  <mat-option *ngFor="let grad of Gradovi" [value]="grad" >
                    Grad : {{grad.naziv}} ima id {{grad.id}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
      
  </form>

<section>
  <button mat-raised-button (click)="create()" >Dodaj</button>
  <button mat-raised-button color="primary" (click)="idiNazad()" > nazad</button>
</section>