
<div class="mainContent">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
              <h1>{{CURRENT_EVENT.opis}}</h1></mat-card-title>
            <mat-card-subtitle>  Tip dogjadja: {{CURRENT_EVENT.naziv}}. {{CURRENT_EVENT.grad.drzava.naziv}}, {{CURRENT_EVENT.grad.naziv}}</mat-card-subtitle>

        </mat-card-header>
        <img src="{{CURRENT_EVENT.slika}}"  class="slika">
        <mat-card-content>
            
            <h1> Lista objava za ovaj dogadjaj:</h1>
            
            <div *ngIf="CURRENT_EVENT.objave.length == 0">
                <h2> Nema objava za ovaj dogadjaj</h2>
            </div>
            <div *ngFor="let objava of CURRENT_EVENT.objave" id="objave">

                <mat-accordion>
                    <mat-expansion-panel hideToggle>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{objava.naslov}}
                            </mat-panel-title>
                            <mat-panel-description>
                                {{objava.tekst}}  Vreme pocetka: {{objava.vreme}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <h2>KOmentari</h2> 
                        <!-- KOmentari : -->
                        
                        <div *ngFor="let komentar of objava.komentari"> 
                        Komentar #34581   :  {{ komentar.tekst}}
                            </div>
                            
                        <input [(ngModel)]="komentar"> <button (click)="dodajKOmentar()"> Dodaj komentar </button>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </mat-card-content>
    </mat-card>
</div>