
<div class="container">
    <div class="card" style="align-items: center">
        <h1>Izmeni grad</h1>
    </div>
  
<div class="card">
    <form class="example-form" [formGroup]="formControl">
      <mat-form-field class="example-full-width">
        <mat-label>Naziv grada</mat-label>
        <input matInput placeholder="Ex. Pizza" formControlName="naziv">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Opstina</mat-label>
        <input matInput placeholder="Naziv opstine" formControlName="opstina">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Odaberi drzavu</mat-label>
        <mat-select formControlName="country">
          <mat-option *ngFor="let country of Countries" [value]="country.id">
            Drzava : {{country.naziv}} ima id {{country.id}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      
    </form>
    <section>
        
        <button mat-raised-button class="create" (click)="izmeni()">Izmeni</button>
      <button mat-raised-button color="primary" (click)="idiNazad()" > nazad</button>
    </section>
  </div>
  </div>